.container {
    position: absolute;
    top: 70px;
    left: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #404145;
    width: 47%;
    height: 100%;
    color: white;
}

.my-container {
    position: absolute;
    top: 70px;
    right: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 10px 20px;
    background-color: #404145;
    width: 47%;
    height: 100%;
    color: white;
}

.container,
.my-container {
  flex: 1;
  padding: 10px;
}

.inp-but{
    align-items: flex-start;
}


.table-container {
    margin-top: 10px;
    overflow: auto;
    max-height: 400px;
    font-size: 13px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid white;
    padding: 8px;
}

th {
    background-color: #666;
    color: white;
}

.my-input-field {
    width: 75%;
    padding: 10px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid #ffffff;
    outline: none;
    background: transparent;
    color: white;
    font-size: 16px;
    margin-bottom: 10px; /* Добавляем отступ снизу */
}


.my-button {
    border: none;
    border-radius: 1%;
    background-color: #3f54d1 !important;
    color: white;
    padding: 10px;
    cursor: pointer;
    height: 30px;
    margin-left: 10px; /* Добавляем отступ слева */
}

.my-button {
    border: none;
    border-radius: 1%;
    background-color: #3f54d1 !important;
    color: white;
    padding: 10px;
    cursor: pointer;
    height: 30px;
    margin-left: 10px; /* Добавляем отступ слева */
}

.delete-button {
    border: none;
    border-radius: 1%;
    background-color: #fe3237 !important;
    color: white;
    padding: 10px;
    cursor: pointer;
    height: 30px;
    margin-left: 10px; /* Добавляем отступ слева */
}